aws_region           = "us-east-1"
project_name         = "starttech"
environment          = "production"
vpc_cidr             = "10.0.0.0/16"
public_subnet_cidrs  = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnet_cidrs = ["10.0.3.0/24", "10.0.4.0/24"]
instance_type        = "t2.micro"
min_size             = 2
max_size             = 4
desired_capacity     = 2
redis_node_type      = "cache.t2.micro"